* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Serif, serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%; /*1rem = 16px*/
}

h1 {
    font-weight: normal;
    font-size: 1rem;
}

h1,nav {
    border: 0rem solid;
}

nav {
    background-color: white;
    font-size: 1rem;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #3629c4;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

/* .....PART 2.....*/

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 2rem;
}

.my-education {
    display: flex;
    width: 100%;
    background-color: #ada9d6;
    font-weight: bold;
    padding: 1rem 10%;
    margin-bottom: 1rem;
}
.all-education {
    font-size: 2rem;
    font-weight: bold;
}
.color-word {
    color: #4e42d4;
}

.container {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 1rem 5%;
    background-color: white;
    overflow: hidden;
}

.box-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(198, 202, 205);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3.1rem;
}
.degree-2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: #4e42d4;
    text-align: center;
}

.my-study {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.bullet-1 {
    flex-direction: column;
    list-style-type: disc;
    padding-left: 1.5rem;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-weight: bold;
}
.bullet-2 {
     flex-direction: column;
     list-style-type: disc;
     padding-left: 1.5rem;
     font-size: 1.1rem;
     margin-bottom: 0.2rem;
     margin-top: 0;
     font-weight: bold;
}

.box-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(198, 202, 205);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3.1rem;
}
.certifications-2 {
    font-size: 1.5rem;
    color: #4e42d4;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
}
.my-certificates {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.bullet-4 {
     flex-direction: column;
     list-style-type: disc;
     padding-left: 1.5rem;
     font-size: 1.1rem;
     margin-bottom: 0.2rem;
     margin-top: 0;
     font-weight: bold;
}
.bullet-5 {
     flex-direction: column;
     list-style-type: disc;
     padding-left: 1.5rem;
     font-size: 1.1rem;
     margin-top: 0;
     margin-bottom: 0.2rem;
     font-weight: bold;
}
.bullet-6 {
     flex-direction: column;
     list-style-type: disc;
     padding-left: 1.5rem;
     font-size: 1.1rem;
     margin-top: 0;
     margin-bottom: 0.2rem;
     font-weight: bold;
}
.bullet-7 {
   flex-direction: column;
   list-style-type: disc;
   padding-left: 1.5rem;
   font-size: 1.1rem;
   margin-bottom: 0.2rem;
   font-weight: bold;
   margin-top: 0;
}

.para-s {
    padding-left: 2rem;
    font-size: 1rem;
}

  @media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 0.8rem;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 0 0.5rem;
    }
    .container {
        flex-direction: column;
    }
    .my-education, .container {
        padding: 1.5rem 5%;
    }
    .box-1, .box-2 {
        padding: 1.5rem;
    }
  }
