* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Serif, serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
}

h1,nav {
    border: 0rem solid;
}

nav {
    background-color: white;
    font-size: 2rem;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #3629c4;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}


.about-me {
   display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ada9d6;
    margin: 0;
    padding: 1.5rem 4%;
  
}

.first-me {
     font-size: 4rem;
    font-weight: bold;
    width: 100%;
}

.purple-me {
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    color: #5F54D3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 2rem 5%;
    background-color:white;
    gap: 1rem;
}

.main-section {
    font-size: 2rem;
    line-height: 4.3vh;
    /*font-weight: bold;*/
}

.one-vision {
    font-size: 2.5rem;
    color: #5F54D3;
    font-weight: bold;
    margin: 0.1rem 0 0.1rem 0;
    padding: 0 0 0.2rem 0;
    /*padding: 1rem 0;*/
    /*padding-top: 25px;
    padding-bottom: 25px;*/
}

.one-para {
    margin-top: 0.1rem;
    font-size: 2rem;
    /*font-weight: bold;*/
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
           gap: 1rem;
    }

    nav a {
        margin: 0 0.5rem;
    }

    .about-me, .container {
        padding: 2.8rem;
    }

    .first-me, .purple-me {
        font-size: 2rem;
    }
}
